
.card{
    width: 500px;
    height: max-content;
    margin: 25px auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.card-header{
    display: flex;
    position: relative;
    height: 50px;
}

.card-header>h5{
    margin: 0;
    padding: 12px 10px;
}

.card-header-image img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px 3px;
}

.card-header-address{
    margin-top: 25px;
    position: absolute;
    left: 45px;
}

.card-image{
    position: relative;
}

.card-image img{
    width: 100%;
    height: 400px;
}

.card-image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content{
    padding: 3px 10px;
    border-bottom: 1px solid rgb(173, 173, 173);
    position: relative;
}

.heart{
    cursor: pointer;
}

svg>path:hover{
    fill: red;
    stroke: none;
}

.card-content-tip{
    position: absolute;
    right: 10px;
    margin-top: 10px;
    background: none;
    border: none;
    font-size: 80%;
    font-weight: 700;
    color: rgb(85, 179, 242);
    cursor: pointer;
}

.card-content-tip:hover{
    color: rgb(0, 153, 255);
}

.card-content-tip:active{
    transform: translateY(1px);
}

.card-comment{
    display: flex;
    align-items: center;
}

.card-comment input{
    margin: 0;
    outline: none;
    border: none;
    padding: 10px;
    width: 75%;
}

.comment{
    border: none;
    font-weight: bolder;
    background: none;
    color: rgb(85, 179, 242);
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .card{
        width: 300px;
    }
}